html, body {
    width: auto !important;
    overflow-x: hidden !important;
}

html, body, ul, li, p, a, h1, h2, h3, h4, h5{
	padding:0;
	margin:0;
}

body{
	font-size:16px;
	font-family: 'Roboto Condensed', sans-serif;
	background:#f5f5f5;
}


ul, li{
	list-style:none;
	padding:0;
	margin:0;
}

a{
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
a, a:hover{
	text-decoration:none;
}

a:hover{
	opacity:0.7;
}
:focus{
	outline:none!important;
}
a:focus{
	text-decoration:none;
	color:initial;
}
/* header */



#top-header {
	background:#f5f5f5;
	padding:15px 0 12px 0;
}

#top-header .social-top{
	text-align:left;
}

#top-header .social-top li{
	display:inline-block;
	padding-right:15px;
}

#top-header .social-top li a{
	display:inline-block;

}

#top-header .social-top .fb{
	background: url('../img/icons/social-header.png') no-repeat -6px -5px;
	width: 10px;
	height: 16px;
}

#top-header .social-top .tw{
	background: url('../img/icons/social-header.png') no-repeat -36px -6px;
	width: 16px;
	height: 14px;
}

#top-header .social-top .gp{
	background: url('../img/icons/social-header.png')  no-repeat -69px -5px;
	width: 16px;
	height: 16px;
}

#top-header .social-top .yt{
	background: url('../img/icons/social-header.png') no-repeat -103px -7px;
	width: 16px;
	height: 12px;
}

#top-header .social-top .p{
	background: url('../img/icons/social-header.png') no-repeat -137px -6px;
	width: 16px;
	height: 16px;
}

#top-header .small-menu{
	float:right;
}

#top-header .small-menu li {
	display:inline-block;
	position:relative;
	padding: 0 10px 0 20px;
}

#top-header .small-menu a {
	color:#666666;
	font-size:14px;
	text-transform:uppercase;
}
#top-header .small-menu li a:after{
	position:absolute;
	content:'/';
	right:0;
	display:block;
	top: 2px;
}

.logo-wrapper{
	background:#fff;
	padding:10px 0;
}
.call-us{
	margin-top:10px;
	float: right;
	margin-right: -20px;
}


.call-us h2 {
	color:#999999;
	font-size:18px;
	float:left;
	position:relative;
	padding-left:35px;
	width: 285px;
    margin: 0 auto;
}
.call-us .phone-icon{
	content: '';
    background: url('../img/icons/icon-sprite.png') no-repeat -151px -179px;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    left:0;
    top: 8px;
}
.call-us h2 .phone{
	color:#54c0cd;
	font-size:45px;
	display:block;
	font-weight:600;
	margin-left: 10px;
}
/*menu nav */

.navbar-default{
	padding:0;
	background:#54c0cd;
	border-bottom:3px solid #7cd4de;
	margin:0;
}
.navbar-default .navbar-nav>li>a{
    transition: none;
    -webkit-transition: none;
}
.navbar-default .navbar-nav>li>a .caret{
	color:#3b9ca8;
}


.navbar-default .navbar-nav>li>a{
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
	text-transform:uppercase;
	padding:10px 21px;
}
.navbar-default .navbar-collapse{
	margin-top:10px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#E4E4E4
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background:transparent;
}

/*slider*/
#slider-home-page{
	background:#01b7f2;
	height:580px;
	margin:0;
}
#slider-home-page li{
	height:580px;
    background-size: cover;
    background-position: center center;
}


/*#slider-home-page .swiper-slide h1{
	font-family: 'Yeseva One', cursive;
	font-size: 36px;
	background: url(../img/icons/slider-text-underline.png)no-repeat center bottom;
	margin-top: 5%;
	text-align: center;
	text-transform: UPPERCASE;
	color: #FFF;
	padding-bottom: 50px;
	letter-spacing:1px;
}*/
#slider-home-page h3{
	color:#ffffff;
	font-size:24px;
	font-weight:300;
	text-transform:uppercase;
	text-shadow: 1px 2px 3px #666;
}
/*#slider-home-page .promo{
	background: rgba(255,255,255,0.9);
	margin: 35px auto 0;
	width: 430px;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: Roboto;
	padding: 10px;
}*/
#slider-home-page .promo{
	color:#ffffff;
	font-size:36px;
	line-height:48px;
	font-weight:800;
	text-shadow: 1px 2px 3px #666;
}

#slider-home-page .veiw-more{
	color: #FFFFFF;
    line-height: 50px;
    display: inline-block;
    background: #4eb4c0;
    padding: 0 20px;
    margin-top: 57px;
    margin-bottom: 65px;
    text-transform: uppercase;
	font-size:14px;
}
#slider-home-page .contact-us{
	color: #FFFFFF;
    line-height: 50px;
    display: inline-block;
    background: #666;
    padding: 0 20px;
    margin-top: 57px;
    margin-bottom: 65px;
    text-transform: uppercase;
	font-size:14px;
	margin-left:5px;
}

#slider-home-page .container{
	margin-top:220px;
}
.companies-logos {
	padding:30px 0;
	margin-bottom:45px;
}
.flexslider{
	overflow:hidden;
}
.companies-logos {
	margin:0;
}

.companies-logos li{
	text-align:center;
	float:left;
	width:20%;
}
.companies-logos a{
	display:inline-block;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.celestial{
	background: url('../img/company-slider.png') no-repeat -3px 0;
	width: 150px;
	height: 59px;
}
.celestial:hover{
	background: url('../img/company-slider.png') no-repeat -3px -66px;
	width: 150px;
	height: 60px;
}
.msc{
	background: url('../img/company-slider.png') no-repeat -237px 0;
	width: 166px;
	height: 56px;
}
.msc:hover{
	background: url('../img/company-slider.png') no-repeat -237px -63px;
	width: 166px;
	height: 60px;
}
.norwegian{
	background: url('../img/company-slider.png') no-repeat -489px 0;
	width: 149px;
	height: 59px;
}
.norwegian:hover{
	background: url('../img/company-slider.png') no-repeat -489px -66px;
	width: 149px;
	height: 60px;
}
.rowal-caribian{
	background: url('../img/company-slider.png') no-repeat -722px -4px;
	width: 212px;
	height: 50px;
}
.rowal-caribian:hover{
	background: url('../img/company-slider.png') no-repeat -722px -71px;
	width: 212px;
	height: 50px;
}
.celebrity{
	background: url('../img/company-slider.png') no-repeat -994px 0;
	width: 178px;
	height: 60px;
}
.celebrity:hover{
	background: url('../img/company-slider.png') no-repeat -994px -67px;
	width: 178px;
	height: 60px;
}

/* choose vacaion */
#choose-vacation{
	padding:19px 0 20px 0;
}

#choose-vacation *{
	font-family: 'Roboto Condensed', sans-serif;
}
#choose-vacation .choose-vacation-label{
	/* background: url(../img/icons/choose-vacation-bg.png)no-repeat center left; */
    color: #666666;
    font-size: 18px;
    text-transform: uppercase;
}
/*#choose-vacation .choose-vacation-label:after{
	width:11px;
	height:30px;
	content:"";
	display:block;
	position:absolute;
	background: url(../img/icons/choose-vacation-bg-after.png)no-repeat center left;
	top: 45px;
	left: 255px;
}*/


#choose-vacation .bootstrap-select{
	width: 100%;
	margin-bottom:11px;
}

#choose-vacation .bootstrap-select .dropdown-toggle{
	border-radius: 0;
	border: 2px solid #b9baba;
	box-shadow: none;
	background: #fafafa;
	padding: 10px 15px;
	font-weight: 300;
}
#choose-vacation .bootstrap-select .dropdown-toggle:focus{
	outline:none!important;
}
#choose-vacation .btn-default.active, #choose-vacation.btn-default:active, #choose-vacation.open>.dropdown-toggle.btn-default, #choose-vacation .btn-default, #choose-vacation .dropdown-menu>li>a{
	color: #999999;
	font-size: 14px;
}

#choose-vacation .dropdown-menu {
	background: #FAFAFA;
}

#choose-vacation #search{
	display: inline-block;
    width: 100%;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    background: #4eb4c0;
    border: none;
    width: 150px;
}
#choose-vacation .datepicker{
    border-radius: 0;
    border: 2px solid #b9baba;
    box-shadow: none;
    background: #fafafa;
    padding: 10px 15px;
    font-weight: 300;
    margin-bottom: 11px;
    width:100%;
    color: #999999;
    font-size: 14px;
}
/*top offers slider */
#top-offers-slider {
	margin-top:50px;
	overflow:hidden;
	padding-bottom:70px;
}

#top-offers-slider .swiper-wrapper{
	margin-top:50px;
}


.img-responsive{
	width:100%;
}
.top-offers-button-prev, .top-offers-button-next{
	top: -25px;
	position: absolute;
}
#top-offers-slider .arrows-wrapper{
	position:relative;
	margin-top: -23px;
	margin-bottom: 20px;
}

#top-offers-slider .top-offers-button-next{
	background: url(../img/icons/icon-sprite.png) no-repeat -44px -142px;
	width: 26px;
	height: 22px;
	left: inherit;
	right: 41px;
	position:absolute;
}

#top-offers-slider .top-offers-button-prev{
	background: url(../img/icons/icon-sprite.png) no-repeat -75px -142px;
	width: 26px;
	height: 22px;
	right: 1px;
	position:absolute;
}

.main-spacial-title{
	font-family: 'Open sans', sans-serif;
	font-size:24px;
	color:#999999;
	margin-bottom:10px;
	padding-top: 5px;
	font-weight: 300;
}

.main-spacial-title span {
	/*background: url(../img/icons/icon-sprite.png) no-repeat -7px -57px;*/
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: -5px 20px;
}

.main-spacial-subtitle{
	font-family: 'Open sans', sans-serif;
	font-size:24px;
	color:#333333;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d9dfe4;
	text-transform:uppercase;
	font-weight:600;
}

.main-spacial-subtitle .search-reslt-count{
	font-size:24px;
	line-height:18px;
	color:#999999;
	font-family:"Open Sans";
	text-transform:initial;
	float:right;
}

.single-promotion-offer{
	border:1px solid #efecec;
	background:#fff;
	position:relative;
	overflow:hidden;
	display:block;
}

.top-label-img{
	position: absolute;
	background: #55b3bb;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
	left: -51px;
	height: 38px;
	width: 200px;
	line-height: 38px;
	text-align: center;
}

.top-label-img span:nth-of-type(1){
	color:#faf7c0;
	font-weight:bold;
	font-size:30px;
	display:inline-block;
}

.top-label-img span:nth-of-type(2){
	font-size:14px;
	color:#fff;
	display:inline-block;
}
.promotion-main-wrapper {
	padding:50px 0;
}
/*.promotion-main-wrapper .single-promotion-wrapper h2*/
.promotion-main-wrapper .single-promotion-wrapper h3{
	color:#555;
}
.promotion-main-wrapper .single-promotion-wrapper{
    margin: 25px auto 25px;
}

.single-promotion-offer .inner-text-wrapper {
	padding:0 12px 0;

}
/*.single-promotion-offer h1*/
.single-promotion-offer h3{
	margin:17px 0 10px;
	font-size: 20px;
	line-height: 24px;
	color: #4eb4c0;
	font-family: Open Sans;
}

#top-offers-slider .hotel-name{
	color:#999;
	font-size:14px;
	border-bottom:1px solid #999;
	padding-bottom:10px;
}

#top-offers-slider ul{
	float:left;
}

#top-offers-slider ul li{
	color:#999;
	font-size:14px;
	padding:5px 0;
}

#top-offers-slider .offer-location span{
	background: url('../img/icons/icon-sprite.png') no-repeat -78px -65px;
	width: 12px;
	height: 16px;
	display:inline-block;
	margin-right:15px;
}

#top-offers-slider .offer-dates span{
	background: url('../img/icons/icon-sprite.png') no-repeat -52px -65px;
	width: 16px;
	height: 16px;
	display:inline-block;
	margin-right:10px;
}

#top-offers-slider .offer-price {
	float:right;
	color:#3d7ea9;
	font-size:36px;
	font-weight:bold;
}

#top-offers-slider .offer-price .euro-sight{
    background: url('../img/icons/icon-sprite.png') no-repeat -13px -145px;
    width: 12px;
    height: 16px;
    display: block;
    margin: 12px 0px 0 4px;
    float: right;
}

#top-offers-slider .offer-price .per-person{
	font-size:14px;
	color:#999999;
	display: block;
	text-align:center;
	margin-top:-5px;
}

.top-arrow{
	background: url('../img/icons/icon-sprite.png') no-repeat -109px -69px;
	width: 12px;
	height: 7px;
	display: block;
	margin: 0 auto;
}
/*why us*/
#why-us{
	padding:60px 0 35px;
	background:url(../img/why-us-bg.jpg)no-repeat center center;
	background-size:cover;
}
/*#why-us h1*/
#why-us h4{
	color:#ffffff;
	font-size:72px;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:60px;
}
/*#why-us h1*/
#why-us h4 a{
	font-size: 18px;
	color: #efea87;
	display: inline-block;
	margin-top: 30px;
	position: absolute;
	margin-left: 20px;
}
/*#why-us h1*/
#why-us h4 a span{
	background: url('../img/icons/icon-sprite.png') no-repeat -156px -10px;
	width: 16px;
	height: 16px;
	display:inline-block;
	margin-left:10px;
}
/*#why-us h2*/
#why-us h5{
	font-size:30px;
	color:#efea87;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:24px;
}
#why-us p {
	color:#ffffff;
	font-size:24px;
}

#why-us .why-us-single{
	position:relative;
}
#why-us .why-us-single span{
	top: 20px;
	display:block;
	position:absolute;
	top:20px;
	left:-38px;
	width: 24px;
}

#why-us .why-us-single:nth-of-type(1) span{
	/*background: url('../img/icons/icon-sprite.png') no-repeat -7px -8px;*/
	height: 22px;
}

#why-us .why-us-single:nth-of-type(2) span{
	/*background: url('../img/icons/icon-sprite.png') no-repeat -119px -8px;*/
	height: 24px;
}

#why-us .why-us-single:nth-of-type(3) span{
	/*background: url('../img/icons/icon-sprite.png') no-repeat -44px -7px;*/
	height: 24px;
}

#why-us .why-us-single:nth-of-type(4) span{
	/*background: url('../img/icons/icon-sprite.png') no-repeat -81px -9px;*/
	height: 18px;
}
/*latest sales*/
#newest-offer{
	padding-top:50px;
	background:#ffffff;
}

#newest-offer .container{
	padding-bottom:45px;
}


.single-offer-grid{
	margin-top:50px;
	font-family: Open Sans;
	display:block;
}
.single-offer-grid a{
    display: inline-block;
}
.single-offer-grid .inner-text-wrapper {
	padding:0 12px 0;
	float:left;
	width: 295px;
	position:relative;
}
.single-offer-grid  .img-responsive{
	width:260px;
	float:left;
}
/*.single-offer-grid h1*/
.single-offer-grid h3{
	margin: 0px 0 13px;
	font-size: 18px;
	color: #4eb4c0;
	line-height: 25px;
	min-height: 50px;
	font-family: Open Sans;
	font-weight: 300;
}

.single-offer-grid .hotel-name{
    color: #999;
    font-size: 18px;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 5px;
    height: 31px;
    margin-bottom: 10px;
}
.single-offer-grid ul{
	float:left;
	width: 170px;
}

.single-offer-grid ul li{
	color:#999;
	font-size:14px;
	padding: 1px 0;
}

.single-offer-grid .offer-location span{
	background: url('../img/icons/icon-sprite.png') no-repeat -78px -65px;
	width: 12px;
	height: 16px;
	display:inline-block;
	margin-right:15px;
}

.single-offer-grid .offer-dates span{
	background: url('../img/icons/icon-sprite.png') no-repeat -52px -65px;
	width: 16px;
	height: 16px;
	display:inline-block;
	margin-right:10px;
}

.single-offer-grid .offer-price {
	float:right;
	color:#3d7ea9;
	font-size:36px;
	font-weight: bold;
	margin-top: -8px;
	font-family: 'Roboto Condensed', sans-serif;
}

.single-offer-grid  .offer-price .euro-sight{
	background: url('../img/icons/icon-sprite.png') no-repeat -13px -145px;
	width: 12px;
	height: 16px;
	display: block;
    margin: 12px 0px 0 4px;
    float: right;
}

.single-offer-grid .offer-price .per-person{
	font-size:14px;
	color:#999999;
	display: block;
	text-align:center;
	margin-top: -7px;
	font-weight:normal;
}
.single-offer-grid .veiw-more{
	color:#3d7ea9;
	font-size:14px;
	line-height:24px;
	text-transform:uppercase;
	font-weight:bold;
}
.load-more{
	border-top:1px solid #ebebeb;
	line-height:75px;
	background:#f5f5f5;
	display:block;
	width:100%;
	font-size:24px;
	text-transform:uppercase;
	font-weight:bold;
	color: #8fc3c9;
	text-align:center;
}
.load-more:hover, .load-more:active, .load-more:focus{
	color:#8fc3c9;
}
.load-more span{
	background: url('../img/icons/icon-sprite.png') no-repeat -139px -60px;
	width: 24px;
	height: 24px;
	display: inline-block;
	position: relative;
	top: 3px;
	margin-left: 7px;
}

.offer-form-wrapper h3{
	margin-top:55px;
	color:#333333;
	font-size:18px;
	line-height:20px;
	text-transform:uppercase;
	margin-bottom:20px;
	overflow:hidden;
	position:relative;
}
.offer-form-wrapper h3 span{
	width: 100%;
    position: absolute;
    height: 1px;
    background: #d9dfe4;
    top: 10px;
    margin-left: 20px;
}

.offer-form-wrapper .radio{
	margin:10px auto;

}
.date-go{
	padding: 18px 5px;
    background: #3d7ea9;
    color: #f0f2f7;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    height: 81px;
    width: 80px;
    float: left;
    margin-right: 35px;
}

.offer-form-wrapper .row {
	background:#f0f2f7;
	border-bottom:1px solid #ffffff;
	margin-left:0;
	margin-right:0;
    position: relative;
}
.offer-form-wrapper .row .col-custom-1{
    width: 10%;
    float: left;
}
.offer-form-wrapper .row .col-custom-3{
	width: 33.3%;
    float: left;
    position: relative;
    min-height: 1px;
}
.offer-price-inner{
    float: left;
    color: #3d7ea9;
    font-size: 36px;
    font-weight: bold;
	margin-top:-10px;
	margin-left:8px;
}
.radio-btn-inner-wrapper{
	width: 110px;
    float: left;
	margin-top:11px;
}
.offer-form-wrapper label:before{
	top:8px;
}

.offer-form-wrapper label:after{
	top:11px!important;
}

.offer-form-wrapper input{
	margin-top:8px;
}



.offer-price-inner .euro-sight{
    background: url('../img/icons/icon-sprite.png') no-repeat -13px -145px;
    width: 12px;
    height: 16px;
    display: block;
    margin: 15px 0 0 5px;
    float: right;
}

.offer-price-inner .per-person {
    font-size: 14px;
    color: #999999;
    display: block;
    text-align: center;
    margin-top: -5px;
}

.offer-price-inner .top-arrow {
    background: url('../img/icons/icon-sprite.png') no-repeat -109px -69px;
    width: 12px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.offer-form-wrapper label >*{
	font-family:'Roboto Condensed', sans-serif !important;

}
.offer-form-wrapper label p{
	font-size:14px;
	line-height:14px;
	margin:0;
	color:#333333;
}

.offer-form-wrapper label span{
	color:#168798;
	font-size:14px;
	line-height:20px;
}

.offer-form-wrapper .choose-disclimer {
    font-family: Open Sans;
    color: #999999;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
.no-background{
	background:transparent!important;
	height:auto!important;
}
.offer-form-wrapper .submit {
    background: #168798;
    border: none;
    line-height: 52px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #faf7c0;
    padding: 0 25px;
    display: inline-block;
    float: left;
	margin-top:0;
}
.offer-form-wrapper .submit-wrapper {
    float: right;
	margin-right:-15px;
}
.offer-form-wrapper .submit-wrapper .border {
    width: 0;
    height: 0;
    border-top: 52px solid #168798;
    border-left: 20px solid transparent;
    display: inline-block;
    float: left;
}
.offer-form-wrapper .submit-wrapper .dray-border{
    border-top: 52px solid #8a8a8a!important;
}
.offer-form-wrapper .submit-wrapper .dray-submit{
    background: #8a8a8a!important;
    border-radius:0!important;
    opacity:1!important
}
.offer-form-wrapper .submit-wrapper:hover .dray-submit{
    background: #8a8a8a!important;
    border-radius:0!important;
    opacity:1!important
}
.offer-form-wrapper .submit-wrapper:hover .dray-border{
    border-top: 52px solid #8a8a8a!important;
}

.reservation-form-wrapper .submit-wrapper .dray-border{
    border-top: 52px solid #8a8a8a!important;
}
.reservation-form-wrapper .submit-wrapper .dray-submit{
    background: #8a8a8a!important;
    border-radius:0!important;
    opacity:1!important
}
.reservation-form-wrapper .submit-wrapper:hover .dray-submit{
    background: #8a8a8a!important;
    border-radius:0!important;
    opacity:1!important
}
.reservation-form-wrapper .submit-wrapper:hover .dray-border{
    border-top: 52px solid #8a8a8a!important;
}
/* pre-footer news */
#news-homepage{
	background: #555555;
	padding:25px 0 30px;
	padding-bottom:8px solid #da4a64;
}

#news-homepage *{
	font-family: 'Open Sans', sans-serif;
}

#news-homepage .post-img{
	margin-top:10px;
	background:#168798;
	border:5px solid #fff;
	float:left;
    width:227px;
}

#news-homepage .post-content-wrapper{
	float:left;
	margin-left:20px;
	width: 305px;
}

#news-homepage .post-content{
    height: 164px;
    overflow: hidden;
}
#news-homepage .post-content,
#news-homepage .post-content p,  #news-homepage .post-content h1,
#news-homepage .post-content h2, #news-homepage .post-content h3,
#news-homepage .post-content h4, #news-homepage .post-content h5{
    font-size:14px;
	line-height:20px;
	color:#fff;
	font-weight:300;
}
#news-homepage .post-content-wrapper .veiw-more{
	font-size:14px;
	color:#faf7be;
	position:relative;
	padding-right:20px;
	font-weight: 300;
	text-transform:uppercase;
}

#news-homepage .post-content-wrapper .veiw-more span{
	background: url('../img/icons/icon-sprite.png') no-repeat -156px -10px;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 2px;
	right:0;
}

#homepage-news-slider{
	overflow: hidden;
}
/*#homepage-news-slider h2*/
#homepage-news-slider h5{
	font-size:24px;
	line-height:24px;
	border-bottom:1px solid rgba(255, 255, 255, 0.1);
	color: #f5f5f5;
	padding-bottom:20px;
	font-weight: 300;
}
#homepage-news-slider .post-summary{
	margin-top:10px;
	font-size:14px;
	color: #cccccc;
	line-height:20px;
}
#news-homepage .news-pagination{
	padding-left:100px;
}
#news-homepage .swiper-pagination-bullet{
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: transparent;
	margin-right: 5px;
	border: 1px solid #8c8c8c;
	opacity:1;
}
#news-homepage .swiper-pagination-bullet-active{
	border-color:transparent;
	background: #43a5b0;
	opacity:1;
}

.mail-news{
	margin-top:50px;
	border: 1px dashed #aaaaaa;
	border-radius:5px;
	padding:20px 50px 30px;
}
/*.mail-news h2*/
.mail-news h5{
	color:#faf7bd;
	position: relative;
	padding-left: 24px;
	margin-left: 60px;
	font-weight: 600;
	margin-bottom:20px;
    font-size: 30px;
}
/*.mail-news h2*/
.mail-news h5 span{
	background: url('../img/icons/icon-sprite.png') no-repeat -112px -146px;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 10px;
	margin-left:-25px;
}
.mail-news p{
	font-size:18px;
	line-height:24px;
	color:#fff;
	text-transform:uppercase;
	font-weight: 300;
}
.mail-news p span{
	color:#faf7bd;
}
.mail-news input{
	line-height:36px;
	border: 1px solid #4e4e4e;
	display:inline-block;
}
.mail-news form{
	margin-top:20px;
}
.mail-news #enter-mail-addr{
	width:260px;
	text-indent:10px;
}
.mail-news #add-to-mail-list{
	line-height:36px;
	border: 1px solid #328a94;
	background: #43a5b0;
	color:#fff;
	font-size:14px;
	width:168px;
	margin-left:20px;
	font-weight:bold;
	-webkit-transition: all 0.8s; /* Safari */
	transition:  all 0.8s;
}
.mail-news #add-to-mail-list:hover{
	background: #33858E;
}
.inner-nav{
	margin: 22px 0;
}

.inner-nav li,
.inner-nav li a {
	display: inline-block;
	font-size: 18px;
	color: #9da1ab;
	font-weight: normal;
	padding: 0 10px;
}
.inner-nav li{
    padding:0;
}
.inner-nav li a:after{
	content:'/';
	display:inline-block;
	left: 8px;
	position: relative;
}
.inner-nav li:last-of-type{
	color: #bdc0c6;
}


/*cruiz company*/

.cc-summary{
	padding: 60px 0 30px;
	background:#fff;
	border-top:1px solid #e4e6ed;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:65px;
}

.cc-summary h2{
	color:#333333;
	font-size:24px;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px solid #d9dfe4;
	text-transform:uppercase;
}

.cc-summary .cc-logo{
	width:370px;
	margin:0 30px 30px 0;
	float: left;
}
.cc-summary p{
	color:#999999;
	font-size:14px;
	padding:0 0 12px 0;
	margin: 0;
}

.single-destination-grid-wrapper .single-offer-grid{
	padding:10px 0 0 10px;
	background:#fff;
	margin:25px 0;
}
.single-destination-grid-wrapper{
	padding-bottom:25px;
}
.single-destination-grid-wrapper .single-offer-grid .img-responsive{
	width:250px;
}

.single-destination-grid-wrapper .veiw-more{
	color:#333333;
	font-size:14px;
	line-height:24px;
	text-transform: inherit;
}
.destination-footer-title{
	margin-top:20px;
	margin-bottom:25px;
	color:#8aced6;
	font-size:18px;
	line-height:30px;
	position:relative;
	overflow:hidden;
}
.destination-footer-title span{
	width: 100%;
    position: absolute;
    height: 1px;
    background: #666666;
    top: 15px;
    margin-left: 20px;
}
.main-destination-footer-links{
	margin-bottom:25px;
}
.main-destination-footer-links li a{
	font-size:18px;
	line-height:30px;
	color:#cccccc;
}

.sec-destination-footer-title{
	font-size:18px;
	line-height:30px;
	color:#cccccc;
	text-transform:capitalize;
}
.sec-destination-footer-links{
	margin-bottom:25px;
}
.sec-destination-footer-links li {
	position:relative;
}
.sec-destination-footer-links li a {
	font-size:18px;
	line-height:30px;
	color:#999999;
	padding-left:20px;
}
.sec-destination-footer-links li:before{
	width:5px;
	height:5px;
	content:"";
	display:block;
	position:absolute;
	background:#999999;
	border-radius:50%;
	top: 12px;
}
.nav-tabs.special{
	margin-top:60px;
}

.nav-tabs{
	background: #57D4E3;
	padding:0 30px;
}

.nav-tabs li{
	margin:0 15px;
}

.nav-tabs li a{
	padding: 10px 4px;
	line-height:70px;
	font-size:24px;
	color: #FFFFFF;
	text-transform:uppercase;
	border:none;
	border-radius:0;
	z-index: 1;
	transition:none;
	margin-right:0;
}
.nav-tabs li a:hover:before,
.nav-tabs>li.active:before{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 87px solid #54C0CD;
	content: "";
	display: block;
	position: absolute;
	left: -25px;
	bottom: 0;
}
.nav-tabs>li.active:after,
.nav-tabs li a:hover:after{
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 26px solid transparent;
	border-top: 90px solid #54C0CD;
	content: "";
	display: block;
	position: absolute;
	right: -26px;
	bottom: 0;
}

.offer-nav-tabs{
	margin-top:75px;
}

.nav-tabs>li.active>a, .nav>li>a:focus, .nav>li>a:hover, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border:none;
	background: #54C0CD;
	color: #FFFFFF;
	opacity:1;
}

.tab-content{
	background:#fff;
	margin-bottom:65px;
}

#cruises .main{
	background: #57D4E3;
	line-height: 70px;
    font-size: 24px;
    color: #FFFFFF;
	text-transform:uppercase;
	text-align:center;
}
.single-cruise{
	padding:20px 0;
}
.single-cruise a{
    display:block;
}
.single-cruise .inner-text-wrapper{
	padding-right:20px;
}
.single-cruise .inner-text-wrapper h3{
	color:#4eb4c0;
	font-size:24px;
	line-height:24px;
	font-weight:bold;
}

.single-cruise .single-offer{
	margin-top:50px;
}
.single-cruise .single-offer .inner-text-wrapper {
	padding:0 12px 0;

}

.single-cruise ul {
	margin-top:15px;
}

.single-cruise  .single-offer h1{
	margin: 0px 0 13px;
	font-size: 18px;
	color:#01b7f2;
	font-weight: bold;
	line-height: 25px;
	height: 50px;
}

.single-cruise ul li{
	color:#757b8a;
	font-size:14px;
	padding: 1px 0;
	display:inline-block;
	margin-right:20px;
}

.single-cruise .hotel-name{
	padding-bottom: 5px;
	height: 31px;
}

.single-cruise .offer-location span{
	background: url('../img/icons/icon-sprite.png') no-repeat -78px -65px;
	width: 12px;
	height: 16px;
	display:inline-block;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.single-cruise .offer-dates span{
	background: url('../img/icons/icon-sprite.png') no-repeat -52px -65px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 2px;
}

.single-cruise .offer-price {
	float:right;
	color:#3d7ea9;
	font-size:36px;
	font-weight: bold;
	margin-top: -8px;
}

.single-cruise .offer-price .euro-sight{
	background: url('../img/icons/icon-sprite.png') no-repeat -13px -145px;
	width: 12px;
	height: 16px;
	display: block;
	margin: 15px 0 0 5px;
	float: right;
}

.single-cruise .offer-price .per-person{
	font-size:14px;
	color:#999999;
	display: block;
	text-align:center;
	margin-top: -7px;
}

.single-cruise .info{
	color: #999999;
	display: block;
	font-size: 16px;
	line-height: 24px;
	border-top: 1px solid #999;
	padding-top: 16px;
}

.single-cruise .view-more{
	margin-top: 10px;
	color: #2c364c;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}
.single-cruise .view-more span{
	background: url('../img/icons/icon-sprite.png') no-repeat -170px -146px;
    width: 16px;
    height: 16px;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 4px;

}

#aditional-sugests{
    padding: 50px 45px;
}

#aditional-sugests h3{
    margin-bottom: 10px;
    color: #333333;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9dfe4;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
#aditional-sugests h4{
    margin-bottom:10px;
    font-size: 21px;
}
#aditional-sugests p{
    margin-top: 10px;
    font:14px;
    line-height:22px;
    color:#999999;
}
#aditional-sugests .single-packet{
    margin:50px 0 10px;
}
#aditional-sugests .price{
    font-size: 16px;
    font-weight: bold;
    color:#54C0CD;
}

#pricing{
	padding:50px 45px;
}

#pricing p{
    font:14px;
    line-height:22px;
    color:#999999;
}


#pricing h5{
	margin:20px 0;
	color:#333333;
	font-size:24px;
	padding-bottom:20px;
	border-bottom:1px solid #d9dfe4;
	font-family: 'Roboto Condensed', sans-serif;
}

#pricing ul li{
	font:14px/22px;
	color:#999999;
}

#pricing  .important{
	margin-top:20px;
	color:#168798;
	font:14px/22px;
}

#pricing p{
	font:14px;
    line-height:22px;
	color:#999999;
}

.main-destination-wrapper{
	padding-top:50px;
}
.single-destination-main{
	margin-bottom:60px;
}
/*.single-destination-main h1*/
.single-destination-main h4{
	margin-top: 25px;
    font-size: 30px;
    padding-top: 45px;
    background: url('../img/single-ship-title-bg.png') no-repeat top center;
    margin-bottom: 20px;
	font-weight:bold;
    color: #323232;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
}


.single-destination-main p{
	font-size:18px;
	line-height:24px;
	color:#999999;
	font-family:"Open Sans";
	overflow:hidden;
}

.single-destination-main .view-more {
    margin-top: 10px;
    color: #2c364c;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
	text-transform:uppercase;
}

.single-destination-main .view-more span {
    background: url('../img/icons/icon-sprite.png') no-repeat -170px -146px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 2px;
}
.pouplar-ports-title{
	font-size:15px;
	font-family:Open Sans;
	color:#54c0cd;
	text-transform:uppercase;
	border-bottom:7px solid #f5f5f5;
	font-weight:bold;
	padding-bottom:5px;
	margin-bottom:15px;
}
.popular-ports li{
	margin:10px 0;
}
.popular-ports li a{
	display:inline-block;
}

.popular-ports img{
	width:90px;
	float:left;
	height:70px;
}
/*.popular-ports h2*/
.popular-ports h4{
	float:left;
	font-size:18px;
	line-height:70px;
	color:#333333;
	margin-left:15px;
	font-family:Roboto Condensed;
	font-weight:bold;
}
.load-more-sidebar{
	border-top: 7px solid #f5f5f5;
	padding-top:5px;
    display: block;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #54c0cd;
    text-align: center;
	font-family:"Open Sans";
}
.load-more-sidebar span{
	background: url('../img/icons/icon-sprite.png') no-repeat -104px -415px;
	width: 17px;
	height: 17px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 7px;
}
.popular-ports li a:hover{
	opacity:0.7
}
#destination{
	padding-bottom:65px;
}


.single-destination{
	padding:50px  20px 0 0;
}
.single-destination h3{
	padding-bottom:10px;
	margin-bottom:20px;
	color:#333333;
	font:24px/24px 'Roboto Condensed', sans-serif;
	border-bottom:1px solid #d9dfe4;
}
.single-destination p {
	color:#999999;
	font:14px/22px;
}
.single-destination .veiw-more {
    color: #2c364c;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.single-destination .veiw-more span{
	background: url('../img/icons/icon-sprite.png') no-repeat -170px -146px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 4px;
}

.single-ship {
	padding:25px 0;
}
/*.single-ship h1*/
.single-ship h3 {
	color:#333333;
	font-size:30px;
	padding-bottom:45px;
	 background: url('../img/single-ship-title-bg.png') no-repeat bottom center;
	 margin-bottom:20px;
}

.single-ship p {
	color:#999999;
	font-size:18px;
	line-height:24px;
	margin-bottom:20px;
}

.single-ship .view-more {
    margin-top: 10px;
    color: #2c364c;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.single-ship .view-more span {
    background: url('../img/icons/icon-sprite.png')  no-repeat -170px -146px;
	width: 16px;
	height: 16px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 4px;
}
/* grid-list */

/* ineer ship */
.nav-tabs li a span{
	margin-right:20px;
}

.nav-tabs li a.destination span{
	background: url('../img/icons/icon-sprite.png') no-repeat -87px -305px;
	width: 18px;
	height: 24px;
	display:inline-block;
}

.nav-tabs li a.ship span{
	background: url('../img/icons/icon-sprite.png') no-repeat -52px -235px;
	width: 18px;
	height: 24px;
	display:inline-block;
}

.nav-tabs li a.cabins span{
	background: url('../img/icons/icon-sprite.png') no-repeat -86px -234px;
	width: 26px;
	height: 26px;
	display:inline-block;
}

.nav-tabs li a.deck span{
	background: url('../img/icons/icon-sprite.png')  no-repeat -124px -236px;
	width: 24px;
	height: 24px;
	display:inline-block;
}

.nav-tabs li a.ports span{
	background: url('../img/icons/icon-sprite.png')  no-repeat -159px -379px;
	width: 16px;
	height: 24px;
	display:inline-block;
}

.nav-tabs li a.terms-condition span{
	background: url('../img/icons/icon-sprite.png') no-repeat -160px -237px;
	width: 24px;
	height: 24px;
	display:inline-block;
}

.nav-tabs li.active a.destination span, .nav-tabs li a.destination:hover span{
	background: url('../img/icons/icon-sprite.png') no-repeat -53px -305px;
}


.nav-tabs li.active a.ship span, .nav-tabs li a.ship:hover span{
	background: url('../img/icons/icon-sprite.png') no-repeat -52px -270px;
}

.nav-tabs li.active a.cabins span, .nav-tabs li a.cabins:hover span{
	background: url('../img/icons/icon-sprite.png') no-repeat -86px -269px;
}

.nav-tabs li.active a.deck span, .nav-tabs li a.deck:hover span{
	background: url('../img/icons/icon-sprite.png') no-repeat -124px -271px;
}
.nav-tabs li.active a.ports span, .nav-tabs li a.ports:hover span{
	background: url('../img/icons/icon-sprite.png')  no-repeat -131px -379px;

}

.nav-tabs li.active a.terms-condition span, .nav-tabs li a.terms-condition:hover span{
	background: url('../img/icons/icon-sprite.png') no-repeat -160px -272px;
}

#ports h2{
    color: #333333;
    font-size: 30px;
    padding: 25px;
    background: #e3f4f9;
	text-transform:uppercase;
}
.single-port {
	padding:50px 35px;
}
.single-port img{
	float: left;
    margin-right: 20px;
    max-width: 460px;
    width: 43%;
}

.single-port .text-wrapper{
	padding: 0 20px;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    max-width: 565px;
    width: 53%;
    float: left;
}


.single-port .text-wrapper p{
	margin-bottom:0;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    overflow: hidden;
}

.single-port .text-wrapper p strong{
	font-weight:600;
	color:#666666;
	display:block;
	margin:15px 0;
}

.single-port .text-wrapper .veiw-more{
    margin-top: 20px;
    padding-top: 20px;
	border-top: 1px solid #e5e5e5;
	display:block;
	font-family:"Open Sans";
	color:#111111;
	text-transform:uppercase;
	font-weight:bold;
}
.single-port .text-wrapper .veiw-more span{
    background: url('../img/icons/icon-sprite.png') no-repeat -170px -146px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 3px;
}
#inner-port{
	background:url(../img/port-1.jpg) no-repeat center center;
	background-size:cover;
	height:500px;
	position:relative;
}
#inner-port h3{
	position:absolute;
	bottom:60px;
	font-size:30px;
	line-height:38px;
	color:#ffffff;
	font-weight:normal;
	z-index:9999;
}
.inner-port-text {
	padding-bottom:70px;
}
.inner-port-text p{
	font-size:18px;
	line-height:24px;
	color:#999999;
}

.light-blue{
	background:#f0f2f7;
	border-bottom:1px solid #e4e6ed;
	margin-bottom:47px;
}

#ship .main-tab-title{
	color:#333333;
	font-size:30px;
	padding-left:35px;
	text-transform:uppercase;
	background:#e3f4f9;
	padding:25px 35px;
}

.technical-specification{
	background: #54C0CD;
	padding:35px 30px;
}

.technical-specification h3{
	color: #FFFFFF;
	font-weight:bold;
	font-size:24px;
	text-transform:uppercase;
	position:relative;
	overflow:hidden;
	margin-bottom:30px;
}

.technical-specification h3 span{
	width:100%;
	position:absolute;
	height:1px;
	background: #57D4E3;
	top: 12px;
	margin-left: 20px;
}

.technical-specification li{
	line-height:22px;
	font-size:14px;
	color:#ffffff;
	font-family:"Open Sans";
}

.technical-specification li span{
	font-weight:600;
}

.ship-description{
	padding:35px 30px 0 30px;

}

.ship-description h3{
	color: #54C0CD;
	overflow:hidden;
	font-size:24px;
	position:relative;
	font-weight:bold;
	text-transform:uppercase;
}

.ship-description h3 span{
	width:100%;
	position:absolute;
	height:1px;
	background:#d9dfe4;
	top: 12px;
    margin-left: 20px;
}

.ship-description p {
	margin:30px 0;
	font-weight:300;
	font-family:"Open Sans";
	font-size:14px;
	line-height:22px;
	color:#999999;
}
.ship-description ul{
	margin-bottom:30px;
}
.ship-description li{
	color:#999999;
	font-family:"Open Sans";
	line-height:22px;
	font-size:14px;
}

.ship-description li span{
	font-weight:bold;
}

#destination {
	padding-top:30px;
}
#destination-table{
	width:100%;
}

#destination-table th{
	height:80px;
	background:#e3f4f9;
	text-align:center;
	font-weight:normal;
	color:#333333;
}

#destination-table td{
	font-size:18px;
	color:#999999;
	text-align:center;
	height:80px;
	color:#999999;
	font-weight:normal;
}

#destination-table-mobile{
	display:none;
	margin-top;50px;
}

#destination-table-mobile h3.ui-accordion-header{
	background:#e3f4f9;
	padding:20px 0;
	border:1px solid #fff;
}

#destination-table-mobile .ui-accordion-content{
	color:#999999;
	padding:20px 0;
}

#destination-table-mobile .ui-accordion-content .row{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #F3F3F3;
}
#destination-table-mobile .ui-accordion-content .row:last-of-type{
	border-bottom:0;
}
/* end inner ship */

.swicher-wrapper{
	float:right;
}

.ships-list-grid .main-spacial-title{
	padding-top:35px;
}
.swicher-wrapper button{
	background:none;
	border:none;
	color:#7e889e;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
.swicher-wrapper button:hover, .swicher-wrapper button.active{
	color:#000;
}

.background-white{
	background:#fff!important;
}

.single-ship.grid{
	padding: 50px 0;
    width: 46%;
    float: left;
    margin: 0px 2%;
}

.single-ship.grid .col-md-6 {
    width: 100%;
}
.single-ship.grid h1{
	margin-top:25px;
}
/*why us page*/
.why-us-main-banner{
	background-image: url('../img/about_main-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
	height:495px;
	position:relative;
    background-size: cover;
}
.why-us-main-banner .container{
	position:absolute;
	bottom:30px;
	left: 0;
    right: 0;
}
.why-us-main-banner h1{
	margin-bottom:5px;
	padding-bottom:5px;
	font-size:36px;
	color:#fff;
	text-indent:260px;
	border-bottom:1px solid #3d4149;
	display:inline-block;
	font-weight:bold;
}
.why-us-main-banner p{
	font-size:24px;
	color:#cfdcfa;
}
.why-us-main-banner p:nth-of-type(1){
	text-indent:115px;
}
.why-us-main-banner p:nth-of-type(2){
	text-indent:50px;
}
.why-us-promo {
	padding-top:41px;
	background:url(../img/why-us-promo.jpg) no-repeat center center;
	padding-bottom:245px;
	background-size:cover;
}
.why-us-promo .title{
	color:#999999;
	font-size:24px;
}
.why-us-promo h2{
	color:#333333;
	font-size:24px;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:10px;
}
.why-us-promo h3{
	font-size:16px;
	line-height:24px;
	color:#256e9f;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:24px;
}
.why-us-promo p{
	font-size:18px;
	line-height:24px;
	color:#757b8a;
	margin-top:20px;
}
.why-us-promo   .why-us-single  p {
	color:#999999;
	font-size:16px;
	margin:0;
}

.why-us-promo  .why-us-single{
	position:relative;
}
.why-us-promo .why-us-single span{
	display:block;
	position:absolute;
	top:0;
	left:-38px;
	width: 24px;
}

.why-us-promo .why-us-single:nth-of-type(1) span{
	/*background: url('../img/icons/icon-sprite.png')  no-repeat -5px -200px;*/
	height: 22px;
}
.why-us-promo .why-us-single:nth-of-type(2) span{
	/*background: url('../img/icons/icon-sprite.png') no-repeat -117px -200px;*/
	height: 24px;
}
.why-us-promo .why-us-single:nth-of-type(3) span{
	/*background: url('../img/icons/icon-sprite.png') no-repeat -42px -199px;*/
	height: 24px;
}
.why-us-promo .why-us-single:nth-of-type(4) span{
	/*background: url('../img/icons/icon-sprite.png') no-repeat -79px -201px;*/
	height: 18px;
}
.why-us-additional{
	padding:80px 15px;
}

.why-us-additional h4{
	font-size:24px;
	color:#333333;
	margin-bottom:30px;
}
.why-us-additional ul li{
	font-size: 18px;
    line-height: 24px;
    margin: 18px 0;
    padding: 0px 0 9px 45px;
	font-family:'Open Sans';
	position:relative;
}
.why-us-additional ul li span{
	 background: url('../img/icons/icon-sprite.png') no-repeat -7px -235px;
	 width:45px;
	 height:30px;
	 display:inline-block;
	 position:absolute;
	 left:0;
}
.why-us-additional p{
	color:#999999;
	font-size:18px;
	line-height:24px;
	font-family:'Open Sans';
	margin:25px 0;
}
/*end why us page*/




/*accordion-choose-cabbin*/

#accordion-choose-cabbin .ui-accordion-content .value{
	font-size:24px;
	color:#3d7ea9;
	font-weight:bold;
    margin-left:3px;
}



.choose-cabbin-title{
	margin-top:60px;
	margin-bottom:10px;
	color:#333333;
	font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
	overflow:hidden;
	position:relative;
}

.choose-cabbin-title span{
	width: 100%;
    position: absolute;
    height: 1px;
    background: #d9dfe4;
    top: 10px;
    margin-left: 20px;
}


#accordion-choose-cabbin .ui-accordion-header{
	background:#e3f4f9;
	border:none;
	border-radius:0;
	padding:25px 20px;
	border-bottom:1px solid #fff;
}

#accordion-choose-cabbin .ui-accordion-header h4{
	font-size:18px;
	color:#333333;
	text-transform:uppercase;
	font-weight:bold;
	line-height:30px;
}
#accordion-choose-cabbin .ui-accordion-header p {
	margin:0;
	float:right;
}
#accordion-choose-cabbin .ui-accordion-header .price{
	font-size:18px;
	color:#9bbdd4;
	font-weight:bold;
}

#accordion-choose-cabbin .ui-accordion-header .euro-sight{
	margin-left:2px;
}

 #accordion-choose-cabbin .ui-accordion-header .euro-sight i{
	position: relative;
    top: -6px;
    right: 2px;
	color:#9bbdd4;
}

#accordion-choose-cabbin .ui-accordion-header .value{
	color:#9bbdd4;
	font-size:32px;
	line-height:24px;
}


 #accordion-choose-cabbin .ui-accordion-header.ui-accordion-header-active {
	 background:#54C0CD;
 }
  #accordion-choose-cabbin .ui-accordion-header.ui-accordion-header-active  h4{
	  color:#f0f2f7;
  }

#accordion-choose-cabbin .ui-accordion-header.ui-accordion-header-active  .price{
	 color:#f0f2f7;
}

#accordion-choose-cabbin .ui-accordion-header.ui-accordion-header-active  .euro-sight i,
#accordion-choose-cabbin .ui-accordion-header.ui-accordion-header-active  .value{
	color:#faf7c0;
}
#accordion-choose-cabbin label{
	color:#333333;
	font-size:13px;
}

#accordion-choose-cabbin .ui-accordion-content{
	background:#f0f2f7;
	border:0;
	padding:6px;
}


#accordion-choose-cabbin .price-inner{
	margin-top: -12px;
}
#accordion-choose-cabbin .ui-accordion-content .euro-sight{
	margin-left: 0px;

}

#accordion-choose-cabbin .ui-accordion-content .euro-sight .fa{
	color:#3d7ea9;
	top: -8px;
	position:relative;
}


#accordion-choose-cabbin .ui-accordion-content .checkbox, #accordion-choose-cabbin .ui-accordion-content .radio  {
	height:65px;
}

#accordion-choose-cabbin .ui-accordion-content .promoPackTypesClass,
#accordion-choose-cabbin .ui-accordion-content .promoPackTypesClass .radio{
    height:50px;
}
.panel-group .panel+.panel{
	margin-top:1px;
}
.checkbox {
	padding-left: 20px;
 }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	top: 0px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0px;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
}
.checkbox input[type="checkbox"] {
	opacity: 0;
	z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
	/*opacity: 0.65;*/
}
.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}
#accordion-choose-cabbin .ui-accordion-header .radio {
	margin:0;
}
#accordion-choose-cabbin .ui-accordion-header .radio input{
	width:1px;
	height:1px;
}
#accordion-choose-cabbin .ui-accordion-header .radio label:before{
	width:22px;
	height:22px;
}
#accordion-choose-cabbin .ui-accordion-header .radio label:after{
	width: 14px;
    height: 14px;
	left:4px;
	top:4px;
}

#accordion-choose-cabbin .ui-accordion-header h4{
	margin-top: -3px;
    margin-left: 10px;
}
#accordion-choose-cabbin .ui-accordion-header .radio-danger{
	padding-left:10px;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #9BBDD4; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #fff; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #9BBDD4; }

.radio {
	padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
 }

.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
    top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
	opacity: 0;
	z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
	opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed;
}

#choose-cabbin-form  .choose-disclimer{
	font-family:Open Sans;
	color:#999999;
	font-size:14px;
	line-height:20px;
	margin-top:10px;
}

#choose-cabbin-form .submit{
	background:#168798;
	border:none;
	line-height:52px;
	font-size:30px;
	font-weight:bold;
	text-transform:uppercase;
	color:#faf7c0;
	padding:0 25px;
	display:inline-block;
	float:left;
}
.submit-wrapper .submit, .submit-wrapper .border{
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.submit-wrapper:hover{
	opacity:1;
}
.submit-wrapper:hover .submit,#choose-vacation #search:hover,#choose-vacation #search:hover{
	background:#19606B!important;
	opacity:1;
}
.submit-wrapper:hover .border{
	border-top: 52px solid #19606B!important
}
#choose-cabbin-form .submit-wrapper {
	float:right;
}
#choose-cabbin-form .submit-wrapper .border{
	width: 0;
    height: 0;
    border-top: 52px solid #168798;
    border-left: 20px solid transparent;
    display: inline-block;
    float: left;
}

#cabins{
	background:#e3f4f9;
}
#cabins h3{
	color:#333333;
	padding:25px 0;
	padding-left:35px;
    font-size: 36px;
}
#cabins h3::first-letter{
    text-transform: uppercase;
}

#cabins .single-cabbin{
	background:#fff;
}


.single-cabbin img{
	float: left;
    margin-right: 20px;
    max-width: 400px;
    width: 100%;
}
.single-cabbin .text-wrapper p{
	margin-bottom:20px;
}
.single-cabbin .text-wrapper{
	padding:15px 20px;
	font-size:14px;
	line-height:22px;
	color:#999999;
}

.zoom-img-wrapper{
	max-width:1170px;
	position: relative;
	padding:0 20px;
}
.data-image{
	width:100%!important;
}

#deck h3, #terms-condition h3{
	color:#333333;
	font-size:30px;
	padding:25px;
	background:#e3f4f9;
}
#terms-condition{
	padding-bottom:30px;
}
#terms-condition h3{
	margin-bottom:30px;

}
#terms-condition p, #terms-condition li, #terms-condition h5{
	color:#999999;
	font-size:14px;
	line-height:20px;
	margin:20px 0;
	padding:0 20px;
	font-family:"Open Sans";
    word-break: break-all;
}
#terms-condition h5{
	text-transform:uppercase;
	font-weight:bold;
}

/*end accordion-choose-cabbin*/

/*slider inner-page-ships*/
#slider-offer{
	/*height:495px;*/
	margin-bottom:0;
}

#slider-offer .slides > li {
  background-position: center;
  height: 100%;
  width: 100%;
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slider-offer .slides > li img{
    height:100%;
}
#slider-offer.flexslider{
	overflow:hidden;
}
#slider-offer.flexslider-container,
#slider-offer .slides,
.flex-viewport {
    height: 100%;
}

#slider-offer-thumbnails{
	width: 460px;
    right: 0;
	margin:0 auto;
	position: absolute;
    bottom: 20px;
	text-align: right;
    z-index: 9;
    background: none;
}
#slider-offer-thumbnails .slides li{
	width: 110px!important;
    height: 80px;
    border: 2px solid #6f7a93;
    margin: 5px;
	overflow:hidden;
}
#slider-offer-thumbnails .slides li img{
	width: 132%;
	z-index: 1;
    position: relative;
    height:100%;
}
#slider-offer-thumbnails .slides li:after{
	width: 106px!important;
    height: 76px;
    display: block;
    position: absolute;
    content: '';
	background:#000;
	top:7px;

}
#slider-offer-thumbnails .flex-prev{
    text-align: left;
}
#slider-offer-thumbnails .flex-direction-nav a, #slider-offer-thumbnails .flex-direction-nav a:before{
    color:#fff;
}
#slider-offer-thumbnails .flex-active-slide img{
	opacity:1;
}
#slider-offer-thumbnails img{
	opacity:0.3;
}

.flexslider{
	border:0;
}

.course-info{
	position: absolute;
    z-index: 9;
    width: 520px;
    bottom: 25px;
}
.slider-offer-title{
    font-size: 30px;
    line-height: 38px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    z-index: 9;
    bottom: 165px;
    width: 520px;
}
.course-info  li {
	font-size:18px;
	line-height:24px;
	color:#cfdcfa;
	padding:5px 0;
}

.course-info  li img{
	margin-right:10px;
    height:24px;
}

.course-info  ul{
	float:left;
	margin-right:20px;
}
#carousel-inner-news{
	max-width: 745px;
    margin: 0 auto;
	background:none;
	padding-top:25px;
}
#carousel-inner-news .slides li{
	border:5px solid #dee3f0;
	width:170px!important;
}
#slider-inner-news {
	margin-top:50px;
	margin-bottom:0;
}
#slider-inner-news .flex-direction-nav .flex-next{
	opacity: 1;
    right: 20px;
    background: url('../img/icons/icon-sprite.png') no-repeat -154px -306px;
    width: 11px;
    height: 30px;
    display: inline-block;
    content: '';
    color: rgba(255,255,255,0);
    margin-top: -15px;
    top: 115%;
	text-indent: 100%;
    white-space: nowrap;
}



#slider-inner-news .flex-direction-nav .flex-prev{
	opacity: 1;
    left: 20px;
    background: url('../img/icons/icon-sprite.png') no-repeat -126px -306px;
    width: 11px;
    height: 30px;
    display: inline-block;
    content: '';
    color: rgba(255,255,255,0);
    margin-top: -15px;
	top: 115%;
	text-indent: 100%;
    white-space: nowrap;
}
.flex-direction-nav a{
    height:60px;
}
#slider-inner-news .flex-direction-nav a:before,
#carousel-inner-news .flex-direction-nav a:before{
	display:none;
}

#carousel-inner-news .flex-direction-nav a{
	color: rgba(255,255,255,0);
	display:none;
}

#carousel-inner-news li{
	position:relative;
}

#carousel-inner-news li.flex-active-slide{
	position:relative;
}

#carousel-inner-news  li .darker{
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.6);
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

#carousel-inner-news  .flex-active-slide .darker{
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0);
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.news-inner-text{
	padding:45px 35px 0;
	font-family:"Open sans";
	margin-bottom:35px;
}

.news-inner-text h2{
	margin-top:35px;
	margin-bottom:15px;
	color:#333333;
	font-size:18px;
	line-height:24px;
	font-weight:bold;
}

.news-inner-text p{
	color:#999999;
	font-size:18px;
	line-height:24px;
	margin-bottom:20px;
}
/*end slider inner-page-ships*/
/*map inner ships*/

.map-wrapper{
	padding:50px 0 60px 0;
}

.map-wrapper .social-section{
	border-top:1px solid #d9dfe4;
	margin-top:20px;
	padding-top:20px;
}
.map-wrapper p{
	color:#999999;
	font-family:"Open Sans";
	font-size:14px;
	line-height:20px;
}

.map-wrapper .map-aditional-info{
	color:#98a1b2;
	font-size:12px;
	line-height:24px;
	text-transform:uppercase;
	margin-top:20px;
	display:inline-block;
	transition:none;
}
.map-wrapper .map-aditional-info:hover{
	color:#168798;
	opacity:1;
}
.map-wrapper .map-aditional-info span{
	display:inline-block;
	margin-right:10px;
	position: relative;
    top: 5px;
}


.map-wrapper .map-aditional-info .inshurance{
	background: url('../img/icons/icon-sprite.png') no-repeat -18px -343px;
	width: 20px;
	height: 24px;
}

.map-wrapper .map-aditional-info:hover .inshurance {
	background: url('../img/icons/icon-sprite.png')no-repeat -18px -381px;
}

.map-wrapper .transportation{
	background: url('../img/icons/icon-sprite.png') no-repeat -60px -343px;
	width: 18px;
	height: 24px;
}

.map-wrapper .map-aditional-info:hover .transportation {
	background: url('../img/icons/icon-sprite.png')  no-repeat -60px -382px;
}

.map-wrapper  .settle{
	background: url('../img/icons/icon-sprite.png') no-repeat -96px -343px;
	width: 24px;
	height: 24px;
}

.map-wrapper .map-aditional-info:hover .settle {
	background: url('../img/icons/icon-sprite.png') no-repeat -96px -382px;
}
.tooltip.top .tooltip-arrow{
	 border-top-color:#f0f2f7;
 }
 .tooltip.in{
	 opacity:1;
 }
 .tooltip-inner {
	 background-color:#f0f2f7;
	 color:#333333;
	 font-size:14px;
	 line-height:18px;
	 font-family:"Roboto Condensed";
 }
/*end map*/
/*search-results*/
.search-results{
	padding-top:50px;
	padding-bottom:70px;
}

/*end search-results*/


.social-section{
	border-top:1px solid #ddd;
	padding:35px 0;
}
.social-section li{
	position:relative;
	margin:0 2px;
	line-height: 24px;
    height: 24px;
}
.social-section li, .social-section a{
	display:inline-block ;
	color:#98a1b2;
	font-size:18px;
}
.social-section .social-links a{
	width: 24px;
    height: 24px;
    line-height: 24px;
    position: relative;
    top: 5px;
}

.social-section a.fb{
	background: url('../img/icons/social-sprite.png') no-repeat -8px -10px;
}
.social-section a.fb span{
    width: 24px!important;
    height: 24px!important;
    text-align: center!important;
	vertical-align: baseline!important;
	opacity:0;
}
.social-section a.fb span iframe{
	transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2,2);
    -o-transform: scale(2.2);
    -moz-transform: scale(2.2);
    left: 5px;
    top: 5px;
}

.social-section a.tw{
	background: url('../img/icons/social-sprite.png') no-repeat -43px -11px;
}

.social-section a.gp{
	background: url('../img/icons/social-sprite.png') no-repeat -78px -11px;
    top:1px;
}
.social-section a.gp > div{
    width: 24px!important;
    height: 24px!important;
    opacity:0;
}
.social-section a.mail{
	background: url('../img/icons/social-sprite.png') no-repeat -113px -11px;
}
.social-section a{

}
.social-section .print{
	background: url('../img/icons/social-sprite.png') no-repeat -12px -52px;
	height: 16px;
	float:right;
	display:inline-block;
	text-indent:30px;
}
	/* footer */
.footer-promotion{
	background: #555555;
    padding: 0 0 30px;
    border-bottom: 8px solid #5E5E5E;
}

.single-promotion-wrapper{
	display:block;
	width:360px;
	margin:25px auto 0;
	max-width:100%;
}
/*.single-promotion-wrapper h2*/
.single-promotion-wrapper h5{
	font-size:19px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	margin-bottom:15px;
    height:48px;
}

.single-promotion-wrapper .discount{
	color:#faf7c0;
	font-size:30px;
	float:left;
}

.single-promotion-wrapper .img-wrapper{
	position:relative;
	overflow:hidden;
}

.single-promotion-wrapper .img-wrapper .gradient{
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

 .gradient-slider{
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	z-index:1;
}

.single-promotion-wrapper .img-wrapper ul{
	position:absolute;
	bottom:10px;
}
.single-promotion-wrapper .img-wrapper li{
	float:left;
	color:#d4e0fb;
	font-size:14px;
	line-height:24px;
	padding: 0 8px;
}
.single-promotion-wrapper .img-wrapper li.offer-dates span{
	background: url('../img/icons/icon-sprite.png') no-repeat -11px -174px;
	width: 16px;
	height: 16px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.single-promotion-wrapper .img-wrapper li.offer-location span{
	background: url('../img/icons/icon-sprite.png')no-repeat -36px -176px;
	width: 12px;
	height: 16px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;

}
.single-promotion-wrapper .img-wrapper li.price {
	font-size:36px;
	font-weight:bold;
}
.single-promotion-wrapper .img-wrapper li.price span{
	background: url('../img/icons/icon-sprite.png')no-repeat -64px -176px;
	width: 12px;
	height: 16px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top:0;
    float: right;
}
.single-promotion-wrapper .img-wrapper .image{

}

/*news */
#news-list-grid {
	margin-bottom:30px;
}

#news-list-grid .background-white{
	padding-top:45px;
	border-bottom:1px solid #d9dfe4;
	margin-bottom:50px;
}
#news-list-grid .main-spacial-subtitle{
	margin-bottom:0;
	border-bottom:0;
}
.single-news {
	margin: 28px 0;
}

.single-news h3 {
	padding-top:15px;
    color: #4EB4C0;
    font-size: 24px;
    padding-bottom: 60px;
    background: url('../img/single-ship-title-bg.png') no-repeat bottom center;
    margin-bottom: 20px;
	font-weight:bold;
	height:127px;

}
.single-news {
	background:#fff;
}
.single-news p {
    color: #999999;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
	overflow:hidden;
}

.single-news h3, .single-news p{
	margin-right:30px;
}

.single-news .view-more {
    margin-top: 10px;
    color: #2c364c;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
	text-transform:uppercase;
	margin-bottom: 0;
}
.single-news .view-more span {
    background: url('../img/icons/icon-sprite.png') no-repeat -170px -146px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.single-news.grid{
    width: 46%;
    float: left;
	margin: 25px 2%;
}

.single-news.grid .col-md-6 {
    width: 100%;
}

.single-news.grid h1{
	margin-top:0;
	height:110px;
	padding-bottom:45px;
}

.single-news.grid h1, .single-news.grid p, .single-news.grid a{
	margin-left: 20px;
	margin-right: 20px;
}
.single-news p{
    max-height:80px;
}
.single-news.grid{
	padding-bottom:15px;
}
.single-news h3:first-letter{
    text-transform:capitalize;
}
.single-news.grid h3{
    margin-left:30px;
}
.sidebar-news{
	font-family:"Open Sans";

}
.sidebar-news h4{
	font-weight: 300;
    font-size: 30px;
    color: #333333;
    margin:45px 0 15px;
    text-align: center;
	font-style:italic;
}
.sidebar-news h4 span{
	color:#dce0e9;
}
.sidebar-news  ul{
	background:#fff;
	margin-bottom:30px;
	padding:20px 0;
	padding-left: 20px;
}

.sidebar-news  li a{
	font-size:18px;
	line-height:48px;
	color:#757b8a;
	font-weight:300;
}

.sidebar-news  .news-cat li a span{
	background: url('../img/icons/icon-sprite.png') no-repeat -19px -276px;
	width: 10px;
	height: 16px;
	margin-right:20px;
	display:inline-block;
}.sidebar-news .news-arhive>li{
    line-height: 48px;
}
.sidebar-news .news-arhive>li ul{
    display: none;
    padding: 0;
}
.sidebar-news .news-arhive>li div{
    padding-left: 35px;
}
.sidebar-news .news-arhive>li>span{
    background: url('../img/icons/icon-sprite.png') no-repeat -19px -276px;
    width: 10px;
    height: 16px;
    margin-right: 20px;
    display: inline-block;
}
.sidebar-news .news-arhive>li ul a span {
    width:11px;
	height:11px;
	background:#fff;
	border:1px solid #ced0d6;
	border-radius:50%;
	display:inline-block;
	margin-right:20px;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.sidebar-news .news-arhive>li ul a span.active, .sidebar-news .news-arhive>li ul a span:hover span{
	background:#ced0d6;
}

.sidebar-news .news-arhive>li ul a,
.sidebar-news .news-arhive>li ul li {
    line-height: 30px;
}


.news-summary li:after{
	content: '/';
    display: inline-block;
    left: 8px;
    position: relative;
	color:#d1d6e0;
}
.news-summary li:last-of-type:after{
	display:none;
}
.news-summary li{
	display:inline-block;
	position:relative;
	margin-right: 20px;
	padding-left:20px;
	color:#757b8a;
	font-family:"Open sans";
}
.date span{
	background: url('../img/icons/icon-sprite.png') no-repeat -22px -419px;
	width: 16px;
	height: 16px;
	display:inline-block;
	position:absolute;
	left:0;
	top:2px;
}
.category span{
	background: url('../img/icons/icon-sprite.png') no-repeat -53px -416px;
	width: 16px;
	height: 16px;
	display:inline-block;
	position:absolute;
	left:0;
	top:2px;
}
.company span{
	background: url('../img/icons/icon-sprite.png') no-repeat -81px -416px;
	width: 14px;
	height: 16px;
	display:inline-block;
	position:absolute;
	left:0;
	top:2px;
}
#news-inner >.background-white{
	padding-top:35px;
	border-bottom:1px solid #d9dfe4;
}

#news-inner .main-spacial-subtitle{
	margin:15px 0 25px;
	color:#01b7f2;
	padding:0;
	border-bottom:0;
}
/* end news */
footer{
	padding:30px 0;
	background: #43a5b0;
	border-top: 8px solid #3a97a1;
	font-weight: 300;
}

footer .addr{
	font-size: 16px;
	line-height: 22px;
	color:#fff;
	position:relative;
	padding-left:35px;
}

footer .addr span{
	background: url('../img/icons/icon-sprite.png') no-repeat -163px -106px;
	width: 18px;
	height: 24px;
	display: inline-block;
	position: absolute;
	top: 10px;
	left:0;
}

footer .email{
	margin-top:25px;
	font-size: 16px;
	line-height: 22px;
	color:#fff;
	position:relative;
	padding-left:35px;
}

footer .email span{
	background: url('../img/icons/icon-sprite.png') no-repeat -80px -109px;
	width: 24px;
	height: 18px;
	display: inline-block;
	position: absolute;
	top: 2px;
	left:0;
}

footer .phone{
	font-size: 16px;
	line-height: 22px;
	color:#fff;
	position:relative;
	padding-left:35px;
}

footer .phone span{
	background: url('../img/icons/icon-sprite.png') no-repeat -7px -108px;
	width: 24px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
	left:0;
}

footer .fax{
	margin-top:25px;
	font-size: 16px;
	line-height: 22px;
	color:#fff;
	position:relative;
	padding-left:35px;
}

footer .fax span{
	background: url('../img/icons/icon-sprite.png') no-repeat -44px -104px;
	width: 24px;
	height: 24px;
	display: inline-block;
	position: absolute;
	top: -2px;
	left:0;
}

footer .working-time{
	font-size: 16px;
	line-height: 22px;
	color:#fff;
	position:relative;
	padding-left:45px;
	font-weight: 300;
	float: right;
}

footer .working-time .yellow{
	color:#faf7bd;
}

footer .working-time .icon{
	background: url('../img/icons/icon-sprite.png')  no-repeat -119px -104px;
	width: 32px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 9px;
	left:0;
}

footer .anchor-wrapper{
	margin:35px 0 20px;
	text-align:center;
}
footer .footer-menu{
	margin-bottom:15px;
}
footer .footer-menu li ,
footer .footer-menu a{
	display:inline-block;
}
footer .footer-menu li {
	position: relative;
	padding: 0 15px;
}
footer .footer-menu a{
	color:#b5e8f9;
}

footer .footer-menu a:after {
	position: absolute;
	content: '/';
	right: 0;
	display: block;
	top: 0px;
}

footer .footer-menu li:last-of-type a:after{
	content:"";
}

footer .copyright{
	color:#b5e8f9;
	font-size:14px;
	display:inline-block;
}

footer .social-bottom{
	display:inline-block;
	margin-left:30px;
}

footer .social-bottom li{
	display:inline-block;
	padding-right:10px;
}

footer .social-bottom li a{
	display:inline-block;
}

footer .social-bottom .fb{
	background: url('../img/icons/social-footer.png') no-repeat -6px -5px;
	width: 10px;
	height: 16px;
}

footer .social-bottom .tw{
	background: url('../img/icons/social-footer.png') no-repeat -36px -6px;
	width: 16px;
	height: 14px;
}

footer .social-bottom .gp{
	background: url('../img/icons/social-footer.png')  no-repeat -69px -5px;
	width: 16px;
	height: 16px;
}

footer .social-bottom .yt{
	background: url('../img/icons/social-footer.png') no-repeat -103px -7px;
	width: 16px;
	height: 12px;
}

footer .social-bottom .p{
	background: url('../img/icons/social-footer.png') no-repeat -137px -6px;
	width: 16px;
	height: 16px;
}
#terms-condition-footer .modal-dialog{
	background:#f5f5f5;
	height:635px;
}

#terms-condition-footer .modal-body{
	position:relative;
	overflow-y: scroll;
	height:520px;
	margin-bottom:20px;
}
#terms-condition-footer .modal-header{
	margin-bottom: 20px;
}
#terms-condition-footer .modal-title{
	color:#48546f;
	font-size:24px;
	text-transform:uppercase;
}
#terms-condition-footer .modal-body{
	overflow-wrap: break-word;
	font-family:Open Sans;
	color:#48546f;
	font-size:14px;
	line-height:20px;
}

#terms-condition-footer .modal-content{
	border:3px solid #c9cfdc;
	border-radius:0;
	padding: 0 10px 0 25px;
	background:#f5f5f5;
}
#terms-condition-footer h3{
	font-size:14px;
	line-height:20px;
	color:#48546f;
}
#terms-condition-footer .close {
    font-size: 52px;
	font-weight: 300;
	margin-top: -15px;
    margin-right: -15px;
}
/*reservation-review */
.personal-data{
	padding-top:50px;
}
.reservation-review{
	background:#f0f2f7;
}

.reservation-review .header{
	padding:25px 0;
	background: #54C0CD;
}

.reservation-review .header h3{
	margin-top: 8px;
	font-weight:500;
	color:#f0f2f7;
	font-size:18px;
	text-transform:uppercase;
}

.reservation-review .header  p {
	margin:0;
	float:right;
}

.reservation-review .header .price{
	font-size: 18px;
    color: #FAF7C0;
    text-transform: uppercase;
    font-weight: 600;
}

.reservation-review .header .euro-sight{
	margin-left:5px;
    float: right
}

.reservation-review .header .euro-sight i{
	position: relative;
    top: -6px;
    right: 2px;
	color:#9bbdd4;
}

.reservation-review .header .euro-sight i {
    color: #faf7c0;
}

.reservation-review .header .value{
	color:#faf7c0;
	font-size:32px;
	line-height:24px;
}

.reservation-review .personal{
	background:#fbfaec;
}

.reservation-review ul{
	padding:15px 5px;
}

.reservation-review li{
	font-size:18px;
	line-height:38px;
	color:#333333;
}

.reservation-review .personal li{
	line-height:22px;
	padding:15px 0 10px 0;
}
.reservation-form-wrapper{
	font-family:"Open Sans";
	padding-bottom:45px;
}

.reservation-form-wrapper input{
	width:100%;
	line-height:65px;
	background:#f0f2f7;
	padding:0;
	margin-bottom:15px;
	text-indent:20px;
	border:1px solid #dce0ea;
}
.reservation-form-wrapper .bootstrap-select{
	width:70px!important;
}
.reservation-form-wrapper .btn-default{
	background: #f0f2f7;
    font-size: 13px;
}
.reservation-form-wrapper .date-picker-wrapper{
	padding:15px 0;
}
.reservation-form-wrapper textarea{
	width:100%;
	height:100px;
	background: #f0f2f7;
	border:1px solid #dce0ea;
	padding:20px;
}
.reservation-form-wrapper h3{
	margin-top:45px;
	margin-bottom:35px;
	font-size:18px;
	line-height:20px;
	color:#333333;
	text-transform:uppercase;
	font-weight:bold;
	overflow:hidden;
	position:relative;
}
.reservation-form-wrapper h3 span{
	width: 100%;
    position: absolute;
    height: 1px;
    background: #d9dfe4;
    top: 10px;
    margin-left: 20px;
}
.reservation-form-wrapper p {
	font-size:18px;
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:500;
}
.reservation-form-wrapper .red{
	font-weight:bold;
	color:#168798;
    font-family: 'Roboto Condensed', sans-serif;
}
.reservation-form-wrapper h2{
	margin-top:30px;
	font-size:18px;
}
.reservation-form-wrapper form{
	margin-top:30px;
}

.reservation-form-wrapper form .has-error input{
    border-color:#a94442;
}
.reservation-form-wrapper .nubmers-of-person{
	margin: 5px 0 30px 0;
}

.reservation-form-wrapper .nubmers-of-person li{
	font-size:16px;
	font-weight:bold;
	font-family: 'Roboto Condensed', sans-serif;
	line-height:28px;
}

.reservation-form-wrapper .nubmers-of-person span{
	background: url('../img/icons/icon-sprite.png') no-repeat -132px -350px;
    width: 8px;
    height: 12px;
    display: inline-block;
    content: "";
    margin-right: 5px;
}

.reservation-form-wrapper .checkbox{
    display: inline-block;
}
.reservation-form-wrapper .terms{
    color: #333;
    position: relative;
    top: -3px;
}

.reservation-form-wrapper .submit-wrapper {
    float: right;
}
.reservation-form-wrapper .submit-wrapper .border {
    width: 0;
    height: 0;
    border-top: 52px solid #168798;
    border-left: 20px solid transparent;
    display: inline-block;
    float: left;
}
.reservation-form-wrapper .submit {
    background: #168798;
    border: none;
    line-height: 52px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #faf7c0;
    padding: 0 25px;
    display: inline-block;
    float: left;
	text-indent:0;
	width:inherit;
}
.reservation-form-wrapper .checkbox label::before,
.reservation-form-wrapper .checkbox label::after{
	top:2px;
}
.success-wrapper{
	background: #fff url('../img/success-bg.jpg') top center no-repeat;
	padding-top:130px;
}
.success-wrapper .text-over-image{
	max-width:710px;
	width:100%;
	margin:0 auto;
}
.success-wrapper .text-over-image img {
	margin-bottom:25px;
}
.success-wrapper .text-over-image .dotted-wrapper{
	margin-bottom:30px;
	background:#fbfaec;
	padding:3px;
	display:block;
}

.success-wrapper .text-over-image .dotted-wrapper h3{
	padding:15px 0;
	border:1px dotted #7d7d76;
	color:#3d7ea9;
	font-weight:bold;
	font-size:30px;
	text-align:center;
}

.success-wrapper .text-over-image p{
	font-size:30px;
	line-height:36px;
	color:#ffffff;
	margin-bottom:45px;
}

.success-wrapper .text-over-image .tanks-node{
	color:#faf7bd;
}

.success-wrapper .text-over-image h1{
	color:#26b8eb;
	font-weight:bold;
}

.success-personal-data{
	background:#fff;
}
.success-personal-data h3 {
	margin-top:50px;
	margin-bottom:22px;
	position:relative;
	color:#333333;
	font-size:18px;
	line-height:20px;
	text-transform:uppercase;
	overflow:hidden;

}
.success-personal-data h1 span{
	width: 100%;
    position: absolute;
    height: 1px;
    background: #d9dfe4;
    top: 10px;
    margin-left: 20px;
}
.success-personal-data h4{
	margin-bottom:20px;
	color:#168798;
	font-size:18px;
	font-weight:bold;
}
.success-personal-data{
	padding-bottom:50px;
}
.success-personal-data  li{
	color:#333333;
	font-size:18px;
	line-height:32px;
}
.success-personal-data .dotted-border{
	border-top:1px dotted #333333;
	margin:15px 0;
}
.subscribe-mail{
	margin-top:50px;
	border-top:1px solid #d9dfe4;
	padding-top:50px;
	text-align:center;
}
.subscribe-mail h5{
	font-size:18px;
	line-height:18px;
	color:#168798;
	text-transform:uppercase;
	font-weight:bold;

}

.subscribe-mail h5 .black{
	color:#404040;
	margin-right:5px;
	font-family: verdana;
}

.subscribe-mail p{
	margin:20px 0;
	font-size:18px;
	line-height:24px;
	color:#333333;
}
.subscribe-mail input{
	padding: 0 35px;
	font-size:14px;

	line-height:35px;

}
.subscribe-mail .email-input{
	background:#f0f2f7;
	border:1px solid #ccd7dd;
	font-family:"Open Sans";
	width:353px;
	color:#aeb5c3;
}
.subscribe-mail .submit{
	margin:0 0 0 20px;
	border:1px solid #005D67;
	background:#168798;
	color:#ffffff;
}
#contact-us-page{
	padding-bottom:63px;
}
#contact-us-page h1{
	margin-top:63px;
	color:#3d7ea9;
	font-size:30px;
	text-transform:uppercase;
	font-weight:bold;
}
#contact-us-page h3{
	font-size:24px;
	color:#999999;
}
#contact-us-page .ancor{
	margin:15px 0 65px;
	font-size:24px;
	color:#999999;
}
#contact-us-page .addr{
	font-size: 18px;
	line-height: 24px;
	color:#333333;
	position:relative;
	padding-left:35px;
	font-weight:bold;
}

#contact-us-page  .addr span{
	background: url('../img/icons/icon-sprite.png') no-repeat -163px -106px;
	width: 18px;
	height: 24px;
	display: inline-block;
	position: absolute;
	top: 10px;
	left:0;
}

#contact-us-page  .email{
	margin-top:25px;
	font-size: 18px;
	line-height: 24px;
	color:#333333;
	position:relative;
	padding-left:35px;
	font-weight:bold;
}

#contact-us-page  .email span{
	background: url('../img/icons/icon-sprite.png') no-repeat -80px -109px;
	width: 24px;
	height: 18px;
	display: inline-block;
	position: absolute;
	top: 2px;
	left:0;
}

#contact-us-page  .phone{
	font-size: 16px;
	line-height: 22px;
	color:#333333;
	position:relative;
	padding-left:35px;
	font-weight:bold;
}

#contact-us-page .phone span{
	background: url('../img/icons/icon-sprite.png') no-repeat -7px -108px;
	width: 24px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 10px;
	left:0;
}

#contact-us-page  .fax{
	margin-top:25px;
	font-size: 16px;
	line-height: 22px;
	color:#333333;
	position:relative;
	padding-left:35px;
	font-weight:bold;
}

#contact-us-page .fax span{
	background: url('../img/icons/icon-sprite.png') no-repeat -44px -104px;
	width: 24px;
	height: 24px;
	display: inline-block;
	position: absolute;
	top: -2px;
	left:0;
}

#contact-us-page  .working-time{
    font-size: 18px;
    line-height: 24px;
	color:#333333;
	position:relative;
	padding-left:45px;
	font-weight: 300;
	float: right;
	font-weight:bold;
}

#contact-us-page  .working-time .yellow{
	color:#984052;
}

#contact-us-page .working-time .icon{
	background: url('../img/icons/icon-sprite.png')  no-repeat -119px -104px;
	width: 32px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 9px;
	left:0;
}
#contact-us-page h4{
	margin:80px auto 55px;
    border-bottom: 1px solid #d9dfe4;
    font-size: 24px;
    line-height: 48px;
    color: #333333;
    text-transform: uppercase;
    max-width: 635px;
}
#contact-us-page  #contact-us-form input{
	width:100%;
	background:#f0f2f7;
	border:1px solid #dce0ea;
	line-height:63px;
	margin-bottom:20px;
	color:#2c364c;
	font-size:18px;
	text-indent:20px;
}
#contact-us-page  #contact-us-form textarea{
    padding-top:20px;
    text-indent: 20px;
    width:100%;
	background:#f0f2f7;
	border:1px solid #dce0ea;
    margin-bottom:20px;
}


#contact-us-page  #contact-us-form .bootstrap-select{
	width:100%;
	margin-bottom:20px;

}
#contact-us-page  #contact-us-form .bootstrap-select .btn-default{
	background:#F0F2F7;
	line-height:63px;
	padding:0;
	border-radius:0;
	border:1px solid #dce0ea;
	color:#2c364c;
	font-size:18px;
	text-indent:20px;
}

#contact-us-page  #contact-us-form .bootstrap-select li a{
	color:#2c364c;
	font-size:18px;
	line-height:53px;
}
#contact-us-page  #contact-us-form ::-webkit-input-placeholder {
	color:#2c364c;
	font-size:18px;
	text-indent:20px;
}

#contact-us-page  #contact-us-form :-moz-placeholder { /* Firefox 18- */
	color:#2c364c;
	font-size:18px;
	text-indent:20px;
}

#contact-us-page  #contact-us-form ::-moz-placeholder {  /* Firefox 19+ */
	color:#2c364c;
	font-size:18px;
	text-indent:20px;
}

#contact-us-page  #contact-us-form :-ms-input-placeholder {
	color:#2c364c;
	font-size:18px;
	text-indent:20px;
}

#contact-us-page  #contact-us-form .submit {
	color:#fff;
	font-size:24px;
	text-transform:uppercase;
	font-family:"Open Sans";
	background:#3d7ea9;
	border:1px solid #1a2335;
	float:right;
	width:250px;
	text-indent:0;
	transition: all 0.5s;
	-webkit-transition:all 0.5s;
}

#contact-us-page  #contact-us-form .submit:hover{
	background:#648DA9;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0!important;
    outline-offset: -2px;
}

#faq-accordion{
    margin-bottom:50px
}
#faq-accordion .inner-wrapper{
    padding:20px;
    background: #f0f2f7;
}
#faq-accordion .title{
    padding:20px;
    background: #e3f4f9;
    text-transform: uppercase;
    font-weight: bold;

}
#faq-accordion .ui-accordion-header.ui-accordion-header-active{
    background: #54C0CD;
    color: #333333;
}
#faq-accordion h4{
    text-transform: uppercase;
    font-size:24px;
    margin:20px 0;
}
#faq-accordion .ui-accordion-header.ui-accordion-header-active{
    color: #f0f2f7;

}


/* end resevation-review */
@media screen and (min-width: 1024px){
    .single-offer-grid .img-responsive{
        height:165px;
    }
    .single-news.grid .img-wrapper,
    .single-news.grid .img-wrapper img{
        height:215px;
        overflow: hidden
    }

    .promotion-main-wrapper .single-promotion-wrapper h3{
        height:53px;
        margin-bottom:10px;
    }
    .offer-form-wrapper .exrta-right{
        float:right; width:90%
    }
    .offer-form-wrapper .row .col-custom-1{
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .date-go {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        height: inherit;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
	#logo{
		display: block;
		width: 153px;
	}
	#logo img{
		width:100%;
	}
	.navbar-default .navbar-collapse {
		margin-top: 0px;
	}
}
@media screen and (min-width: 991px) and (max-width: 1200px) {

	.companies-logos li{width:50%; height: 80px;}
	#newest-offer .single-offer{
		width: 260px;
		margin-left: auto;
		margin-right: auto;
	}
	footer .phone, footer .working-time{
		width: 250px;
		margin-left:-30px;
	}
	footer .fax{
		margin-left:-30px;
	}
	.mail-news #add-to-mail-list{
		margin-left:0;
		margin-top:10px;
		width:260px;
	}
	.single-destination-grid-wrapper .single-offer-grid{
		display:inline-block;
		padding:10px;
	}
	.single-offer-grid .img-responsive{
		float:none;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 1200px) {
	.single-destination-grid-wrapper .col-md-6{
		text-align:center;
	}
}

@media screen and (max-width: 1100px) {

	#slider-inner-news .flex-direction-nav .flex-next,
	#slider-inner-news .flex-direction-nav .flex-prev{
		top:50%;
	}
	.swicher-wrapper{
		display:none;
	}
	.course-info{
        bottom: 125px;
        padding: 0 50px;
        left: 0;
        right: 0;
        width: 100%;
	}
    .slider-offer-title{
        font-size: 26px;
        line-height: 28px;
        width: 100%;
    }
    .course-info  li{
        display: inline-block;
        margin-right: 15px;
    }
	#slider-offer-thumbnails{
		text-align:center;
		width:100%;
	}
	.why-us-main-banner h1{
		text-indent:0;
		display:block;
		text-align:center;
	}
	.why-us-main-banner p{
		text-indent:0!Important;
		text-align:center;
	}

}
@media screen and (max-width: 992px) {
    .nav-tabs>li{
        float:none;
    }

    .slider-offer-title{
        position: static;
        font-size:20px;
        padding:20px;
        color: #767779;
    }
    .course-info{
        position:static;
        padding:25px 0;
    }
    .course-info-wrapper{
        background: #54C0CD;
    }

    #slider-offer-thumbnails{
        display:none;
    }
    .offer-form-wrapper .radio{
        width:300px;
    }
    .date-go{
        text-align: center;
    }
	.load-more-sidebar{display:none;}
	.single-destination-main, .popular-ports, .pouplar-ports-title, .news-arhive, .news-cat, #ports h2, .single-port{text-align:center;}
	.single-port img{float:none; width:100%;max-width:100%}
	.single-port .text-wrapper{padding-top:20px; float: none; margin: 0 auto;width:100%;max-width:100%}
	.companies-logos li{width:100%; height: 80px;}
	.logo-wrapper{text-align:center;}
	.call-us, .call-us h2{float:none}
	footer{
		text-align:center;
	}
	footer .anchor-wrapper img{
		width:100%;
	}
	.single-ship{
		padding-left:1%;
		padding-right:1%;
	}
    /*.single-ship h1*/
	.single-ship h3{
		margin-top:10px;
		height:auto;
	}
	.single-news h3, .single-news p, .single-news a{
		margin-left: 20px;
		margin-right: 20px;
	}

	.single-news{
		padding-bottom:15px;
	}

	.offer-form-wrapper .row{
		height:auto;
		text-align:left;
	}

     .date-go{
         height:auto;
     }
	.offer-form-wrapper .row .col-custom-1,
	.offer-form-wrapper .row .col-custom-3,
	.date-go{
		width:100%;
	}
	.map-wrapper, .mail-news{
		text-align:center;
	}
	.social-section .print{
		margin-top:20px;
		float:none;
	}
	.technical-specification, .ship-description{
		text-align:center;
	}
	.ship-description h3{
		text-align:left;
	}
	#accordion-choose-cabbin .ui-accordion-content .checkbox, #accordion-choose-cabbin .ui-accordion-content .radio,
    #accordion-choose-cabbin .ui-accordion-content .promoPackTypesClass,
    #accordion-choose-cabbin .ui-accordion-content .promoPackTypesClass .radio{
		height:auto;
	}
	.main-spacial-subtitle .search-reslt-count{
		display: block;
		margin-top: 10px;
		float:none;
	}

	.why-us-promo{
		text-align:center;
	}
	.why-us-promo .title{
		margin-top:30px;
	}

	footer .addr,
	footer .email,
	footer .phone,
	footer .fax,
	footer .working-time{
		margin: 14px auto;
		width: 270px;
		padding-left:45px;
		float: none;
		text-align: left;
	}
	footer .addr{
		margin-top:50px;
	}
	#news-homepage .news-pagination{
		padding-left:0;
	}
	#contact-us-page .working-time{
		float:none;
	}
}
@media screen and (max-width: 767px) {

    /*#why-us h1*/
    #why-us h4{
        margin-top: 30px;
        font-size: 35px;
    }
    /*#why-us h1*/
    #why-us h4 a{
        position:static;
        margin-top: 20px;
    }
	.single-offer-grid .img-responsive{
		margin-bottom:20px;
	}
	.single-destination-grid-wrapper .single-offer-grid{
		display:inline-block;
		padding:10px 10px 20px 10px;
	}

	.course-info ul{
		float:none;
	}

	.course-info h1{
		font-size:1.5em;
		line-height:1.5em;
        margin-bottom:35px;
	}

	.single-cabbin img{
		padding:20px 0 10px 0;
		float:none
	}
	.single-cabbin{
		text-align:center;
	}
	#destination-table-mobile{
		display:block;
	}
	#destination-table{
		display:none;
	}
	#logo{
		margin: 10px 20px;
		display: inline-block;
	}
	#newest-offer, .search-results {text-align:center;}
	.single-offer-grid > *{
		float:none!important;
		margin:0 auto;
	}
	.single-offer-grid ul{
		text-align:left;
	}
	.single-offer-grid .inner-text-wrapper{
		width:270px;
	}
	.single-offer-grid .offer-price{
		position:absolute;
		right:0;
		margin-top:0;
	}
	.navbar-default .navbar-collapse {
		width: 100%;
		text-align: center;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		text-align:center;
	}

	.anchor-wrapper img{width:100%;}

	#homepage-news-slider .swiper-slide{
		text-align:center;
	}
	#homepage-news-slider .swiper-slide img{
		margin:20px 0;
	}
	#homepage-news-slider .swiper-slide *{
		float:none;
		margin:auto;
	}
	#news-homepage .news-pagination{
		text-align: center;
		margin-top: 20px;
	}
	.mail-news input{
		width:100%!important;
		margin:5px 0!important;
	}
    /*.mail-news h2*/
	.mail-news h5{
		margin-left:0;
	}
	.mail-news p{
		font-size:14px;
		line-height:16px;
	}
	.mail-news #enter-mail-addr{
		text-align:center;
	}
	#why-us .why-us-single span{
		left:0;
	}
    /*#why-us h2*/
    #why-us h5, #why-us p{
		margin-left:38px;

	}

}
@media (min-width: 768px) and (max-width: 992px){

	#logo{
		width: 125px;
		display:block;
		margin:0 auto;
	}
	#logo img{
		width:100%;
	}
}

@media only screen and (min-width: 767px) {
	.dropdown .dropdown-menu {
		display: block;
		opacity: 0;
		-webkit-transition: all 0.5s; /* Safari */
		transition: all 0.5s;
	}

	.dropdown:hover .dropdown-menu {
		display: block;
		opacity: 1;
	}
}
@media only screen and (max-width: 380px) {
    #ship .main-tab-title,
    #cabins h3,
    #terms-condition h3{
        font-size: 18px;
        padding:20px 0;
        text-align: center;
    }
    .technical-specification h3{
        font-size: 20px;
    }
    .map-wrapper .map-aditional-info{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:200px
    }
    .map-tooltips{
        text-align:left;
    }
    .slider-offer-title{
        font-size: 14px;
        line-height: 18px;
    }
    .course-info {
        padding: 10px 0;
    }
    .course-info li {
        font-size: 14px;
        line-height: 15px;
    }
    .inner-nav li, .inner-nav li a{
        font-size: 14px;
    }
    .offer-nav-tabs>li>a {
        font-size: 16px;
        line-height: 50px

    }
    .nav-tabs li a:hover:before, .nav-tabs>li.active:before{
        border-bottom: 70px solid #54C0CD;
    }
    .nav-tabs>li.active:after, .nav-tabs li a:hover:after{
        border-top: 70px solid #54C0CD;
    }
    .offer-form-wrapper .submit{
        font-size: 24px;
    }
}




@media print
{
    * {-webkit-print-color-adjust:exact;}
    .reservation-form-wrapper, .map-aditional-info, #choose-cabbin-form .submit-wrapper, .social-section,.sidebar-news, #choose-vacation, #top-header, .swiper-slide, .hide-for-print, .footer-promotion, .companies-logos, .footer-menu, .copyright, .social-bottom, #news-homepage, .why-us-main-banner{
        display:none!Important;
    }
    .swiper-slide-active{
        display:block!Important;
    }
    footer,  .sidebar-news ul {
        text-align: center;
    }
    #logo img{width:150px;}
    .logo-wrapper .col-md-2, .logo-wrapper .col-md-8{width:50%;float:left;}
    footer .addr, footer .email, footer .phone, footer .fax, footer .working-time {
        margin: 14px auto;
        width: 270px;
        padding-left: 45px;
        float: none;
        text-align: left;
    }

    .companies-logos li {
        width: 100%;
        height: 80px;
    }
    .radio {
        padding-left: 33px;
    }
    .radio-btn-inner-wrapper{
        width:90px;
    }
    footer .working-time, #top-header .small-menu, .call-us h2, .call-us, #googleMap{
        float:none!important;
    }
    #slider-offer-thumbnails .slides{
        display:none;
    }
    .single-port .text-wrapper p strong{display:table-cell;}
    #googleMap{ margin:0 auto!important;}
    #inner-port h3 {text-align: center;left: 0;right: 0;}
    #top-header .social-top{text-align:center;    padding-left: 35px;}
    #accordion-choose-cabbin .ui-accordion-content .checkbox, #accordion-choose-cabbin .ui-accordion-content .radio .promoPackTypesClass {
        height: 25px;
    }
    .choose-cabbin-title {
        margin-top: 10px;
    }
    #inner-port{
        height: 80px;
    }
    #googleMap{
        height:350px!important;
    }
    #inner-port h3{
        bottom:25px;
    }
    #inner-port h3 strong, #inner-port h3 {
        text-shadow: 2px 2px #000!important;
    }
    #slider-offer{height: 220px;}
    .why-us-additional ul li, .why-us-additional p{
        font-size: 16px;
        line-height: 20px;
    }
    .why-us-promo{
        padding-bottom:0;
    }
}
