body
{
    /* Font */
    /*font-family: Arial, Verdana, sans-serif;*/
    /*font-size: 12px;*/

    /* Text color */
    /*color: #ffffff;*/

    /* Remove the background color to make it transparent */
    background-color: #c8c8c8;
}

html
{
    /* #3658: [IE6] Editor document has horizontal scrollbar on long lines
    To prevent this misbehavior, we show the scrollbar always */
    /*_overflow-y: scroll*/
}

img:-moz-broken
{
    /*-moz-force-broken-image-icon : 1;*/
    /*width : 24px;*/
    /*height : 24px;*/
}
img, input, textarea
{
    cursor: default;
}